.Main-Head{
    background-color: #1f2937;
    color: rgb(243, 237, 237);
    padding-left: 100px;
    padding-right: 100px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    
    padding-top: 25px;
}


.header-logo{
   font-size: 30px;
   color: #F9FAF8;

}

.header-links button{
    background-color: #999fac;
    font-size: 15px;
    font-weight: bold;
    
    
 
}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: f9faf8;
}


p1{
    font-size: 18px;
    color: e5e7eb;

}


.leftright{
    display: flex;
    justify-content: space-between;
    
}

.left{
    justify-content: flex-start;
    justify-content: space-between;
    
}

.left button{
    background-color: #3882f6;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 10px;
}

.right{
 
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    padding-bottom: 25px;
    

}


img{
    height: 150px;
    width: 250px;
}




.Paragraph{
margin-top: 75px;
background-color:  #e5e7eb;;
font-style: italic;
font-weight: lighter;
font-size: 36px;
color: #1f2937;


}

.Body{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
    
}

h2{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.banner{
    display: flex;
    justify-content: space-around
    
}

.Call{
    padding-left: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
}


.Call button{
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;

}

.footer{
    padding-left: 100px;
    margin-top: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 20px;
    background-color: #1f2937;
    color: #F9FAF8;
}
